html,body{
	margin: 0px;
	font-family: 'Roboto', sans-serif;

}
.no-margin{
	margin: 0px;
}
#logo{
	font-size: 1.2em;
}

.be-red{
background-color: #2B5A02;

}
.white{
	color:#F1F1F1;
}
.large_padding{
	padding: 10px 7px;
}
.no-list{
list-style:none;
}
a:visited{
	color: inherit;
}
