html,body{
	margin: 0px;
	font-family: 'Roboto', sans-serif;

}
.no-margin{
	margin: 0px;
}
#logo{
	font-size: 1.2em;
}
.red{
	color: #F22F41 !important;
}
.btn{

	background-color: inherit;
	border: none;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 1.2em;
	padding: 10px 7px;
}

.be-red{
background-color: #F22F41;

}
.top-space{
	margin-top:1em;
}
.be-green{
background-color: #2B5A02;

}
.white{
	color:#F1F1F1;
}
.large_padding{
	padding: 10px 7px;
}
.no-list{
list-style:none;
}
a:visited{
	color: inherit;
}
.field{
	margin-top: 1em;
}
.form_control{
	border: none;
	border-bottom: 1px solid;
	outline: none;
	width: 100%;
	display: block;
	padding: 10px 0px;
	font-size: 1.2em;
}
